.tallBod {
    height: calc(100vh - 169px);
}
.icon-block {
    text-align: center !important;
}
a.contact {
    font-size: 18px !important;
    font-weight: bold;
}
.contentCont {
    padding-bottom: 50px;
}